<VirtualHost *:80>
    ServerName localhost
    CustomLog /var/log/apache2/davrods.access.log combined
    ErrorLog /var/log/apache2/davrods.error.log
    LogLevel {{ DAVRODS_LOG_LEVEL }}

    {% if DAVRODS_ENABLE_TICKETS != "0" %}
    SetEnvIfExpr "req_novary('Authorization') =~ /^Basic +(.*)/"                    DAVRODS_BASIC_CREDS64=$1
    SetEnvIfExpr "unbase64(reqenv('DAVRODS_BASIC_CREDS64')) =~ /(.*:.*)/"           DAVRODS_BASIC_CREDS=$1
    SetEnvIfExpr "reqenv('DAVRODS_BASIC_CREDS') =~ /^(?:ticket|anonymous):(.*)/"    DAVRODS_BASIC_TICKET=$1
    SetEnvIfExpr "reqenv('DAVRODS_BASIC_TICKET') =~ /^(.*)$/"                       DAVRODS_TICKET=$1

    <If "-n reqenv('DAVRODS_BASIC_TICKET')">
        AuthType None
        Require  all granted
        DavRodsAuthScheme Native
        DavRodsAnonymousMode On
        DavRodsAnonymousLogin "anonymous" ""
        DavRodsHtmlEmitTickets Off
    </If>
    {% endif %}

    <Location />
        {% if DAVRODS_ENABLE_TICKETS != "0" %}
        DavrodsTickets ReadOnly
        {% endif %}

        DirectoryIndex        disabled

        AuthType              Basic
        Require               valid-user
        AuthName              "{{ DAVRODS_AUTH_NAME }}"
        AuthBasicProvider     irods

        Dav                   davrods-locallock

        DavRodsEnvFile        /etc/apache2/irods/irods_environment.json
        DavRodsServer         {{ IRODS_HOST_NAME }} {{ IRODS_ZONE_PORT }}
        DavRodsZone           {{ IRODS_ZONE_NAME }}
        DavRodsAuthScheme     {{ DAVRODS_AUTH_SCHEME }}
        DavRodsExposedRoot    /

        DavRodsHtmlHead       /etc/apache2/irods/theme/head.html
        DavRodsHtmlHeader     /etc/apache2/irods/theme/header.html
        DavRodsHtmlFooter     /etc/apache2/irods/theme/footer.html
    </Location>

</VirtualHost>
