{
    "irods_host": "{{ IRODS_HOST_NAME }}",
    "irods_port": {{ IRODS_ZONE_PORT }},
    "irods_authentication_scheme": "{{ IRODS_AUTHENTICATION_SCHEME }}",
    "irods_zone_name": "{{ IRODS_ZONE_NAME }}",
    "irods_ssl_ca_certificate_file": "{{ IRODS_SSL_CA_CERT_PATH }}",
    "irods_client_server_negotiation": "{{ IRODS_CLIENT_SERVER_NEGOTIATION }}",
    "irods_client_server_policy": "{{ IRODS_CLIENT_SERVER_POLICY }}",
    "irods_ssl_verify_server": "{{ IRODS_SSL_VERIFY_SERVER }}",
    "irods_encryption_key_size": 32,
    "irods_encryption_salt_size": 8,
    "irods_encryption_num_hash_rounds": 16,
    "irods_encryption_algorithm": "AES-256-CBC",
    "irods_default_hash_scheme": "SHA256",
    "irods_match_hash_policy": "compatible"
}
